<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'csv_file_importer', :plugin => 'redmine_csv_file_importer' %>
<% end %>

<h2><%= l(:label_time_entry_importer) + ' : ' + l(:label_match_columns) %></h2>

<% form_tag({:action => 'result'}, {:multipart => true}) do %>
	<%= hidden_field_tag 'project_id', @project.id %>
	<%= hidden_field_tag 'import_timestamp', @import_timestamp %>

	<fieldset class="box"><legend><%= l(:label_match_select) %></legend>
	<% @headers.each do |column| %>
	     <% matched = ''
	        @attrs.each do |k,v| if v.to_s.casecmp(column.to_s) == 0 or k.to_s.casecmp(column.to_s) == 0 then matched = v end end
	        %>
		 <label class="tabular"><%= column %>:
				
			<%= select_tag "fields_map[#{column}]",
			 "<option value=\"\">#{l(:option_ignore)}</option>" + options_for_select( @attrs, matched )
			%> 
		</label>

	<% end %>
	</fieldset>
	
	<%= submit_tag l(:button_submit) %>
	<br/>
<% end %>

<hr/>

<%= l(:label_toplines, @original_filename) %>
<table class="list">
    <thead><tr>
        <% @headers.each do |column| %>
          <th><%= column %></th>
        <% end %>
	</tr></thead>
	<tbody>
	<% @samples.each do |row| -%>
	<tr class="<%= cycle("odd", "even") %>">
	    <% row.each do |column| %><%= content_tag 'td', column[1] %><% end %>
	</tr>
	<% end %>
	<tr class="<%= cycle("odd", "even") %>">
	    <% @headers.each do |column| %><td>...</td><% end %>
	</tr>
	</tbody>
</table>