<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'csv_file_importer', :plugin => 'redmine_csv_file_importer' %>
<% end %>

<h2><%= l(:label_issue_importer) %></h2>

<p><%= l(:label_result_notice, :handle_count => @handle_count, :success_count => (@handle_count - @failed_count)) %></p>

<p><%= l(:label_result_projects) %><br/>
<% @affect_projects_issues.each do |project, count|%>
<label class="tabular2"><%= project %>:</label><label class="tabular2"><%= l(:label_result_issues, count) %></label><br/>
<% end %></p>

<hr/>

<% if @failed_count > 0 %>
<%= l(:label_result_failed, @failed_count) %>
<table class="list">
    <thead><tr>
    	<th>#</th>
        <% @headers.each do |column| %>
          <th><%= column %></th>
        <% end %>
        <th><%= l(:label_error_message) %></th>
	</tr></thead>
	<tbody>
	<% @failed_events.each do |id, event| -%>
	<tr class="<%= cycle("odd", "even") %>">
		<td><%= id %></td>
	    <% event.each do |column| %><%= content_tag 'td', column[1] %><% end %>
	    <td><%= @failed_messages[id] %></td>
	</tr>
	<% end %>
	</tbody>
</table>
<% end %>
